<h2>Login: </h2>
<form [formGroup] = "loginform" (ngSubmit) = "login()">
  <div>
    <label for="name">Name</label>
    <input type="text" name="name" id="name" class="form-control" formControlName = "name">
  </div>
  <div>
    <label for="price">Price</label>
    <input type="text" name="price" id="price" class="form-control" formControlName = "price">
  </div>
  <div *ngIf = "invalid" class = "alert alert-danger">
    Invalid name or price
  </div>
  <br>
  <input type="submit" value="Login" class="btn btn-primary">
</form>