<div class = "center">
    <h2>
        Search Results:
      </h2>
     
     
      <ul class = "list-group" *ngIf="invalid">
          <li class = "list-group-item" *ngFor = "let key of productsKeys">
          {{'Product number ' + key + ':'}}
            <ul>
              <li>{{'Name: ' + products[key].name}}</li>
              <li>{{'Price: ' + products[key].price + '$'}}</li>
            </ul> 
          </li>
      </ul>
      <div *ngIf="!invalid">Sorry! no results </div>
     
      <button class="btn btn-info" style ="margin-left: 350px" [routerLink] = "['/']">Return</button>
    </div>
       