<div class= "center">
    <div>
         <button (click) = "logout()">Logout</button>
      </div>
<h2>Search Product:</h2>
<form [formGroup] = "searchform" (ngSubmit) = "sendData()">
  <div>
    <label for="name"></label>
    <input type="text" name = "name" id ="name" placeholder="Please Search Product" class = "form-control" formControlName = "name" required>
  </div>
  <input type="submit" style ="margin-left: 350px" value = "Search" class = "btn btn-primary">
</form>  
<h2>List Products:</h2>
<ul class="list-group">
  <li class="list-group-item" *ngFor = "let key of productsKeys">{{'Product number ' + key + ':'}}
    <ul>
      <li>{{'Name: ' + products[key].name}}</li>
      <li>{{'Price: ' + products[key].price + '$'}}</li>
    </ul> 
    <ul><button class="btn btn-info" style ="margin-top: 10px"[routerLink] = "['/edit-product' , key]" (click) = "updateProduct(key)">Update</button> 
    </ul>
 
  </li>
</ul>
</div>