@import "~bootstrap/dist/css/bootstrap.css";
.center{
    width: 800px;
    margin: auto;
    
}
input{
    max-width: 300px;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
   
}
h2{
    text-align: center;
}
