<h2 style="text-align:center">Products From Fire Base</h2>

<ul  class = "list-group">
   <li class = "list-group-item" *ngFor = "let product of products">
      {{'Product number ' + product.id + ':'}}
      <ul>
        <li>{{'Name: ' + product.name}}</li>
        <li>{{'Price: ' + product.price + '$'}}</li>
      </ul> 
      
    </li>
</ul>