<h2>Update Product {{product?.id}}: </h2>
<form [formGroup] = "updateform" (ngSubmit) = "sendData()">
  <div>
    <label for="name"></label>
    <input type="text" name="name" id="name" class="form-control" formControlName = "name" value="{{product?.name}}" placeholder="Name">
  </div>
  <div>
    <label for="price"></label>
    <input type="text" name="price" id="price" class="form-control" formControlName = "price" value="{{product?.price}}" placeholder="Price">
  </div>
  <br>
  <input type="submit" value="Update Product" class="btn btn-primary" >
  
</form>